<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="./node_modules/axios/dist/axios.js"></script>
</head>
<body>
    <div id="app">
       <!--bootstrap 栅格化布局-->
       <!--default 灰色，success 绿色，danger 红色，warning 黄色 info 浅蓝色 primary 蓝色-->
       <!--vue的ui框架 iview mintui elementui-->
       <div class="container">
           <div class="row">
               <table class="table table-hover table-bordered">
                  <caption class="h2 text-warning text-center">购物车</caption>
                  <thead>
                      <tr>
                          <th>全选 <input type="checkbox"/></th>
                          <th>商品</th>
                          <th>单价</th>
                          <th>数量</th>
                          <th>小计</th>
                          <th>操作</th>
                      </tr>
                      <!--:和v-bind等价，指令：动态绑定数据-->
                      <!--.number是让输入框的值变为数字类型-->
                      <!--.lazy双向数据绑定不是实时更新，而是失去焦点后再更新-->
                      <!--过滤器 原数据不变的情况下，改变数据的显示-->
                      <tr v-for="(product,index) in products">
                          <td><input type="checkbox" v-model="product.isSelected"/></td>
                          <td><img :src="product.productCover" :title="product.productName"/>{{product.productInfo}}</td>
                          <td>{{product.productPrice}}</td>
                          <td><input type="number" v-model.number.lazy="product.productCount"/></td>
                          <td>{{product.productPrice*product.productCount | myTofixed(2)}}</td>
                          <td>
                              <button type="button" class="btn btn-danger" @click="remove(product)">删除</button>
                          </td>
                      </tr>
                  </thead>
               </table>
           </div>
       </div>
    </div>
    <script>
        let vm=new Vue({
            el:'#app',
            created:function(){
                this.getData();
            },
            data:{
                products:[]
            },
            methods:{
                getData: function () {
                    axios.get('./test.json').then((res) => {
                        if (res.status == 200) {
                            this.products = res.data;
                        }
                    }, (error) => {
                        console.log(error);
                    });
                },
                remove: function (p) {
                    this.products=this.products.filter(item=>item!==p);//这里可以不传入索引，用splice删除。也可以传入这一项，通过filter过滤。传入的product是引用地址，用===可以比较。
                }
            },
            filters:{//存放自定义的过滤器
                myTofixed:function (input,param1) {//过滤器前面是什么，第一个参数就是什么。过滤器传参，依次为第二个 第三个……
                    //return 100; 返回值是什么，页面就显示什么
                    return '$'+input.toFixed(param1);//通过传参控制保留2位小数
                }

            }
        });
    </script>
</body>
</html>