<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
</head>
<body>
<div id="app">
   <ul>
       <li v-for="(fruit,index) in fruits">{{fruit.name}}--{{index}}</li>
       <li v-for="(c,index) in 'aa'">{{c}}</li>
   </ul>
   <div @click="fn()">点我</div>
   <input type="text" v-model="val" @keyup.ctrl.enter="add"/>
   <ul>
       <li v-for="(a,index) in arr">{{a}}--<button @click="remove(index)">删除</button></li>
   </ul>
   <input type="checkbox" v-model="b" value="0"/>游泳
   <input type="checkbox" v-model="b" value="1"/>爬山
   <input type="checkbox" v-model="b" value="2"/>睡觉
   <input type="checkbox" v-model="b" value="3"/>运动
   <select v-model="a" multiple>
       <option value="0">游泳</option>
       <option value="1">爬山</option>
       <option value="2">睡觉</option>
       <option value="3">运动</option>
   </select>
   <input type="radio" v-model="gender" value="1"/>男
   <input type="radio" v-model="gender" value="2"/>女
   {{gender}}
</div>
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="ajax.js"></script>
<script type="text/javascript" src="./node_modules/axios/dist/axios.js"></script>
<script>
    let vm=new Vue({
        el:'#app',
        data:{
            arr:[],
            fruits:[{name:'香蕉'},{"name":'苹果'},{name:'西瓜'}],
            val:'',
            b:["0"],
            a:[1],
            gender:'',
            products:[]
        },
        created(){//在数据data被初始化后调用，this指向当前vm实例，也叫钩子函数 专门用来发送ajax的方法
          /* axios.get('./test.json').then(function (res) {
               //ajax成功的回调
               console.log(res);
               if(res.status==200){
                  this.products=res.data;//回调函数中的this是window,因此这里的this不是vm而是window
               }
           },function (error) {
               //ajax失败的回调
               console.log(error);
           });*/
            /*axios.get('./test.json').then((res)=>{
                //ajax成功的回调
                if(res.status==200){
                    this.products=res.data;//这里使用箭头函数，箭头函数中的this是上级作用域中的this
                }
            },(error)=>{
                //ajax失败的回调
                console.log(error);
            });*/
            ajax({url:"./test.json"}).then((val)=>{
                console.log(val);
            },()=>{
                console.log("请求失败！");
            });
        },
        methods:{
            fn:function () {
                console.log(event);
            },
            add(e){
                /*if(e.keyCode==13){ //处理DOM细节
                    this.arr.unshift(this.val);
                    this.val='';
                }*/
                this.arr.unshift(this.val);
                this.val='';
            },
            remove:function (i) {
                this.arr=this.arr.filter((item,index)=>{
                    return index!==i;
                });
            }
        }
    });
</script>
</body>
</html>